ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}
/* Write your CSS below, don't change the rules above. */


html{
    background-color: rgb(59, 50, 50);
}



body{ 

  color: rgb(187, 162, 162);

  font-family:'Courier New', Courier, monospace;
  font-weight: lighter;
  margin-left: 20px;  
  margin-top: 150px;  
}


.email{
    width: 10px;
    height: 10px;
    margin-left: 10px;
    margin-top: 150px;
}



a{
  font-size: 10px;
  margin-top: 350px;
  margin-left: 100;
}

a:link{
    color: black;
    text-decoration: none;
}

a:hover{
    color: rgb(215,228,220);
    text-decoration: none;
}

a:visited{
    color: rgb(145,150,147)
}



