html{
  background-color: antiquewhite
}


.babykopicture {
  width: 200px;
  height: 300px;
  margin-left: 82px;
  margin-top: 100px;
}


img:hover {
  opacity: 0.5;
}



p{ 
  color: rgb(82, 54, 23);
  background-color: #C58940;
  font-family:'Courier New', Courier, monospace;
  font-weight: lighter;
  text-align: center;
}


p:hover{
  color: rgb(223, 216, 199);
}



.hr1{
  border-color:rgba(134, 125, 125, 0.459) ;
}

.hr2{
  border-color:rgba(134, 125, 125, 0.459) ;
}




a{
  font-size: 10px;
  margin-top: 100px;
  margin-left: 40px;
}

a:link{
    color: black;
    text-decoration: none;
}

a:hover{
    color: rgb(215,228,220);
    text-decoration: none;
}

a:visited{
    color: rgb(145,150,147)
}
