ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}
/* Write your CSS below, don't change the rules above. */


html{
    background-color: rgb(32, 32, 32);

}





body{ 

  color: rgba(38, 131, 66, 0.986);

  font-family:'Courier New', Courier, monospace;
  font-weight: lighter;
  margin-left: 150px;  
  margin-top: 150px;  
}



