ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}
/* Write your CSS below, don't change the rules above. */



html{
    background-color: rgb(65, 80, 72);
}


*{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.profilepicture {
    width: 200px;
    height: 235px;
    margin-left: 17px;
    margin-top: 15px;
}

img:hover {
  opacity: 0.5;
}

.peppermint{
  color: rgb(27, 43, 41);
  margin-left: 240px;
  margin-top: -150px;
  font-size: 25px;
  font-style: oblique;
}


.peppermint:hover{
  color: rgb(145, 150, 147);
}

.niche{
    font-style: oblique;
    font-weight: 500 ;
    margin-top: 120px;
    margin-left: 5px;
}


.nichelist{
  color:rgba(161, 173, 167, 0.596);
  font-weight: 300 ;
  margin-left: 10px;
}

.hr1{
  border-color:rgb(134, 125, 125, 0.459) ;
}


.hr2{
  border-color:rgb(134, 125, 125, 0.459) ;
  margin-top: 30px;
}


.languageskills{
  font-weight: 400 ;
  margin-top: 10px;
}


li{
  color:rgb(139, 160, 151);
  font-weight: 250 ;
  margin-left: 5px; 
  font-style: oblique;
}



.contactme{
  color: rgba(243, 238, 238, 0.89);
  margin-left: 5px;
  margin-top: 30px;
  font-family:'Courier New', Courier, monospace;
  font-weight: lighter;

}

.aboutme{
  color: rgb(243, 238, 238, 0.89);
  margin-left: 145px;
  margin-top: -41px;
  font-family:'Courier New', Courier, monospace;
  font-weight: lighter;
}


.projects{
  color: rgb(243, 238, 238, 0.89);
  margin-left: 260px;
  margin-top: -39px;
  font-family:'Courier New', Courier, monospace;
  font-weight: lighter;
}


.lobster{
  color: rgb(243, 238, 238, 0.89);
  margin-left: 385px;
  margin-top: -39px;
  font-family:'Courier New', Courier, monospace;
  font-weight: lighter;
}

a:link{
  color: black;
  text-decoration: none;
}


a:hover{
  color: rgb(215, 228, 220);
  text-decoration: none;
}


a:visited {
  color: rgb(145,150,147);
}

