html{
    background-color: rgb(32, 32, 32);

}



body{
  text-align: center;
}



#wait{ 
  color: rgba(38, 131, 66, 0.986);
  font-family:'Courier New', Courier, monospace;
  font-weight: lighter;
  margin-top: 50px;  
}


a{
  font-size: 10;
}



a:link{
    color: black;
    text-decoration: none;
    
}

a:hover{
    color: rgb(215,228,220);
    text-decoration: none;
}

a:visited{
    color: rgb(145,150,147)
}





